@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /* Colors */

    /* Primary */
    --Navy-950: hsl(233, 47%, 7%);
    --Blue-950: hsl(244, 37%, 16%);
    --Purple-500: hsl(277, 64%, 61%);

    /* Neutral */
    --White-mhs: hsl(0, 0%, 100%);
    --White-p: hsla(0, 0%, 100%, 0.75);
    --White-sh:hsla(0, 0%, 100%, 0.6);

    /* Font Family */
    --ff-inter:'Inter', sans-serif;
    --ff-LexendDeca:'Lexend Deca',sans-serif;

    /* Font Weight  */
    --fw-400:400;
    --fw-700:700;

    /* Font Size  */
    --fs:0.9375rem;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    height:100vh;
    text-align: center;
    background-color: var(--Navy-950);
}
.preview-card-component{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    max-width: 20rem;
    width: 100%;
    background-color: var(--Blue-950);
}
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image-container>.mobile{
    display: block;
    width:100%;
    height:100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.desktop{
    display: none;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--Purple-500);
    opacity: 0.6;
}
.card-stat{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    width: 100%;
    padding:1.5rem;
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
}
h1{
    font-weight: var(--fw-700);
    color:var(--White-mhs);
    font-family: var(--ff-inter);
}
mark{
    background:none;
    color:var(--Purple-500);
}
.card-details>p{
    font-weight: var(--fw-400);
    font-size: var(--fs);
    color:var(--White-p);
    font-family: var(--ff-inter);
    line-height: 150%;
    letter-spacing: 0.0125rem;
}
.stat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:1rem;

}
h2{
    font-weight: var(--fw-700);
    color:var(--White-mhs);
    text-transform: uppercase;
    font-family: var(--ff-inter);
}
h2+p{
    color:var(--White-sh);
    font-family:var(--ff-LexendDeca);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: var(--fw-400);
}
.attribution {
    font-size: 0.6875;
    text-align: center;
}
.attribution a { 
    color: var(--Purple-500);
    text-decoration: none;
}
.attribution>div{
    color:var(--White-mhs);
}

/* Desktop View */
@media(min-width:768px){
    body{
        padding:1rem;
    }
    .preview-card-component{
        flex-direction: row-reverse;
        gap:0;
        max-width: 900px;
        width:100%;
        text-align: left;
    }
    .image-container{
        width: 100%;
    }
    .image-container>.mobile{
        display: none;
    }
    .desktop{
        display: block;
        width:100%;
        height:100%;
        border-radius: 0 1rem 1rem 0;
        object-fit: cover;
    }
    .overlay{
        border-radius: 0 1rem 1rem 0;
    }
    .card-details{
        gap:1.5rem;
    }
    .card-stat{
        align-items: flex-start;
        gap:3rem;
        padding: 2.5rem;
    }
    .stat{
        flex-direction: row;
        justify-content: space-between;
        gap:4rem;
    }
}
